.chamada {
  padding-top: 2.5rem;

  margin-bottom: 2.5rem;

  background-image: url(../img/splash_cabecalho.svg);
  background-position: top -4rem right;
  background-repeat: no-repeat;

  position: relative;
}

.chamada__texto {
  width: 12.5rem;

  margin-bottom: 1.55rem;
}

.chamada__imagem--mobile {
  position: absolute;
  top: 4.25rem;
  right: 0;
}

.chamada__imagem--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .chamada {
    background-image: none;
  }

  .chamada__texto {
    width: 30rem;
  }

  .chamada__imagem--mobile {
    display: none;
  }

  .chamada__imagem--desktop {
    display: inline-block;

    position: absolute;
    top: -10%;
    left: 30%;

    z-index: -1;
  }
  
  .chamada__formulario {
    display: flex;

    width: 36.56rem;
    height: 4.67rem;
  }
}