.produtos__section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

.produtos__lista {
  width: 100%;
}

@media (min-width: 1200px) {
  .produtos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .produtos__itens {
    width: 32%;
  }
}