.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;

  width: 100%;

  padding-top: .75rem;
  padding-bottom: .75rem;
}

.cabecalho__logo {
  width: 11.125rem;

}

.cabecalho__carrinho {
  width: 1.75rem;
}

.cabecalho__nav {
  display: none;
}

@media (min-width: 1200px) {
  .cabecalho__carrinho {
    display: none;
  }

  .cabecalho__nav {
    display: inline-block;
  }

  .cabecalho__nav--lista {
    display: flex;
  }

  .cabecalho__nav--itens {
    margin: 0 .25rem;
  }

  .cabecalho__nav--itens:last-child {
    color: var(--preto);
    
    padding-left: 1rem;
    margin-right: 0;

    font-weight: bold;
  }
}