.cartao {
  box-sizing: border-box;

  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: var(--branco);

  box-shadow: 10px 10px 30px var(--preto-transparente);
}

@media (min-width: 1200px) {
  .cartao--desktop {
    padding: 3rem 2rem;

    height: 27.5rem;
  }
}